.product-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantén la proporción de la imagen */
}

.card {
    width: 100%; /* Asegura que la tarjeta ocupe todo el ancho del contenedor de columna */
    max-width: 300px; /* Ajusta el tamaño máximo de la tarjeta */
}

#productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
