{{!-- contacto.handlebars --}}
<div class="container content">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Contacto</h1>
            <p>Si deseas ponerte en contacto con nosotros, aquí tienes las vías disponibles:</p>
            <div class="contact-info">
                <h3>WhatsApp:</h3>
                <p><a href="https://wa.me/3513271255" class="text-decoration-none">3513271255</a></p>

                <h3>Email:</h3>
                <p><a href="mailto:ceramicagloria@gmail.com" class="text-decoration-none">ceramicagloria@gmail.com</a></p>

                <h3>Instagram:</h3>
                <p><a href="https://www.instagram.com/ceramica_gloria/" target="_blank" class="text-decoration-none">ceramica_gloria</a></p>

                <h3>Facebook:</h3>
                <p><a href="https://www.facebook.com/gloria.arrieta.50" target="_blank" class="text-decoration-none">gloria.arrieta.50</a></p>
            </div>
        </div>
    </div>
</div>
