 <!-- Body -->
<!-- Texto Presentacion -->
  <!-- Texto Presentacion -->
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <p class="texto">
        En nuestra cerámica, cada pieza está hecha con <strong>agua, tierra y pasión</strong>. Nos esforzamos por crear piezas únicas y originales, que transmitan la belleza y el encanto de la arcilla.
      </p>
      <p class="texto">
        Te invitamos a recorrer nuestra página y conocer nuestras creaciones. Si te gusta alguno de nuestros productos, <a href="contact.html">contacta con nosotros</a> a través de nuestra web o redes sociales.
      </p>
    </div>
  </div>

<!-- Carousel -->
<div
  id="carouselExampleIndicators"
  class="carousel slide mt-5 mb-5"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img
        src="/img/IndexCarousel/1.webp"
        class="d-block w-100 c-img"
        alt="img1"
      />
    </div>
    <div class="carousel-item c-item">
      <img
        src="/img/IndexCarousel/2.webp"
        class="d-block w-100 c-img"
        alt="img2"
      />
    </div>
    <div class="carousel-item c-item">
      <img
        src="/img/IndexCarousel/3.webp"
        class="d-block w-100 c-img"
        alt="img3"
      />
    </div>
    <div class="carousel-item c-item">
      <img
        src="/img/IndexCarousel/4.webp"
        class="d-block w-100 c-img"
        alt="img4"
      />
    </div>
    <div class="carousel-item c-item">
      <img
        src="/img/IndexCarousel/5.webp"
        class="d-block w-100 c-img"
        alt="img5"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<link rel="stylesheet" href="/css/index.css">

