<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Cerámica Gloria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="shortcut icon" href="/img/favicon.webp" type="image/x-icon">
</head>
<body>
    <div class="container content">        

        <main>
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/img/nosotros.jpg" class="img-fluid rounded shadow-sm" alt="Imagen de la empresa Cerámica Gloria">
                        </div>
                        <div class="col-md-6">
                            <h2>Sobre Cerámica Gloria</h2>
                            <p>Cerámica Gloria es una empresa familiar dedicada a la creación de piezas de cerámica artesanal de alta calidad. Fundada en 1985, nuestra misión es combinar las técnicas tradicionales de alfarería con diseños modernos para ofrecer productos únicos que embellecen cualquier espacio.</p>
                            <p>Nuestro taller, ubicado en el corazón de Córdoba, Argentina, es un lugar donde la pasión por el arte y la creatividad se unen. Cada pieza es cuidadosamente elaborada a mano, asegurando que cada una de ellas sea un testimonio de la dedicación y el amor por nuestro oficio.</p>
                            <p>En Cerámica Gloria, creemos en la importancia de la sostenibilidad y el respeto por el medio ambiente. Por eso, utilizamos materiales locales y procesos ecológicos en la fabricación de nuestras cerámicas.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/scripts/wow.min.js"></script>
    <script>new WOW().init();</script>    
    
</body>
</html>
