<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gracias por tu compra</title>

</head>
<body>
  <h1>¡Gracias por tu compra!</h1>
  <p>Tu pedido ha sido procesado con éxito. Esperamos que disfrutes de tus productos.</p>
  <script src="/scripts/paymentSuccess.js"></script>
</body>
</html>
