<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <section class="d-flex flex-column align-items-center w-50">
    <h1 class="bg-info-subtle p-2 text-center text-info w-100">
      RESTABLECER CONTRASEÑA
    </h1>
    <p class="text-center text-muted">
      Introduzca su dirección de correo electrónico, el código de verificación recibido y su nueva contraseña.
    </p>
    <form id="changePasswordForm" class="d-flex flex-column w-50 m-3">
      <input
        class="m-2 p-2 text-center"
        type="email"
        id="email"
        placeholder="e-Mail"
        required
      />
      <input
        class="m-2 p-2 text-center"
        type="text"
        id="verifyCode"
        placeholder="Código de Verificación"
        required
      />
      <input
        class="m-2 p-2 text-center"
        type="password"
        id="newPassword"
        placeholder="Nueva Contraseña"
        required
      />
      <input
        class="m-2 p-2 text-center btn btn-info"
        type="submit"
        value="Cambiar password"
      />
    </form>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/scripts/restorePassword1.js"></script>
