{{!-- 
<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">Usuarios del Sistema</h1>
  <section
    class="m-3 w-100 d-flex flex-column justify-content-center align-items-center"
  >
{{#each users}}
  <a href="/users/{{this._id}}" class="p-3 m-3 w-50 text-light btn btn-success">
    <img src="{{this.photo}}" alt="" width="100">
    -
    {{this.email}}
    -
    {{this.role}}
  </a>
{{/each}}
  </section>
</main> --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios del Sistema</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <main class="d-flex flex-column align-items-center w-100 flex-grow-1">
    <h1 class="bg-success-subtle p-2 text-center text-success w-100">Usuarios del Sistema</h1>
    <section id="user-list" class="m-3 w-100 d-flex flex-column justify-content-center align-items-center">
      <!-- Los usuarios se cargarán aquí mediante JavaScript -->
    </section>
  </main>
  <script src="/scripts/users.js"> </script>
</body>
</html>
